@CHARSET "ISO-8859-1";
@IMPORT url("compass/css3");
*,
*:BEFORE ,
*:AFTER {
	box-sizing: border-box;
}
html{
	overflow-y:scroll; 

	}
form {
	border: 1px solid #1464F4;
	border-color:#1464F4;
	border-radius: 5px;
	font: 14px/1.4 "Helvetica Neue",Helvetica,Arial,sana-serif;
	overflow: hidden;
	width: 280px;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	
	
}
input {
	border-radius:5px;
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sana-serif;
	margin: 0;
}
.account-info {
	padding: 20px 20px 0 20px;
	}
	
.account-info label{
	color: #1464F4;
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	}
.account-info input{
      background: #fff;
      border: 1px solid #c6c7cc;
     /*  box-shadow:inset 0 1px 1px rgba(0,0,0, .1); */
     box-shadow:inset 0px 5px 0px 0px #1464F4;
      color: #636466;
      padding: 6px;
      margin-top: 6px;
      width: 100%;	
}		

.account-action .btn {
	/* background: linear-gradient(#3498db,#2980b9); */
	background-color:#1464F4;
	border: 0;
	color: WHITE;
	cursor: pointer;
	font-weight: bold;
	float: left;
	padding: 8px 16px;

	}
	.account-action .btn1 {
	/* background: linear-gradient(#3498db,#2980b9); */
	background-color:#f1c40f;
	border: 0;
	color: WHITE;
	cursor: pointer;
	font-weight: bold;
	float: right;
	padding: 8px 16px;

	}

.account-action label {
	color: #7c7c80;
	font-size: 12px;
	float: left-corner;
	margin: 10px 0 0 20x;
}	
.class A:link{
	background-color:#f1c40f;
	font: 14px/1.4 "Helvetica Neue",Helvetica,Arial,sana-serif;
	box-shadow:inset 0px 5px 0px 0px #D8AB00;
	font-weight:bold;
	cursor:auto;
	margin-bottom:25px;
	text-decoration: blink;
	padding: 4px 8px;
	border: 0;
}
.class A:vistied{
	background: #FFCC00;
	text-decoration: blink;
}
.claa A:hover{
	background:  #FFCC00;
	font-weight:bold;
	background-color: #333333;
	text-decoration: none;
	}
.class A:active{
	background: #FFCC00;
	text-decoration: blink;
}	

}